<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Sign in to your account
      </h2>
    </div>

    <%= form_for(:session, url: session_path, local: true) do |form| %>
      <div class="rounded-md shadow-sm px-4 w-1/2">
        <div class="px-4">
          <%= form.label :email, class: 'sr-only' %>
          <%= form.email_field :email, autofocus: true, class: 'appearance-none rounded-none relative block w-1/2 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'Email address' %>
        </div>

        <br>

        <div>
          <%= form.label :password, class: 'sr-only' %>
          <%= form.password_field :password, autocomplete: 'current-password', class: 'appearance-none rounded-none relative block w-1/2 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', placeholder: 'Password' %>
        </div>

        <div>
          <%= form.submit "Sign in", class: 'group relative w-48 flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
